// Uses border box sizing like the old IE

@include border-box-sizing; 

// Basic set up for susy

$susy: (
    columns: 12,
    container: 64em,
    gutter: 1/4,
    gutter-position: inside
);

// Breakpoint for device

$iPhone: 320px 480px;
$retinaiPhone: 640px 960px;
$iPad: 768px 1024px;
$laptop: 1024px 1280px;

// Breakpoint for viewport

$small: 480px;
$medium: 768px;
$large: 1024px;
$wide: $large - 1px;

//Add Color Palette
$darkblue: #234C6F;
$darkblue2: #004877;
$blue: #2C6A8D;
$blue2: #006B9D;
$lightblue: #33A3DC;
$yellow: #D8CF90;
$orange: #F58220;
$lightyellow: #F0F0E1;
$red: #B83936;
$lightred: #FF1919;
$dark: #000000;
$light: #FFFFFF;
$lightgrey: #e2e3df;
$butfirst: #025F8E;
$butsecond: #0286CD;

$backgroundColor: $light;
$typeDefault: $dark;

//Font variables
$fontfamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$thin: 200;
$normal: 400;
$bold: 600;
$heavy: 800;

$headFont: $thin 1.5em/1.5em $fontfamily;
$mainFont: $thin 1em/1.5em $fontfamily;

// Header height

$header-height-short: 50px;
$header-height-tall: 80px;

// Navigation width

$nav-width-small: 260px;

// Search height

$search-height-short: 50px;
$search-height-tall: 120px;

// z-index

$below-content: 1;
$content: 2;
$above-content: 3;







