@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

@include border-box-sizing; //uses border box sizing like the old IE

$susy: (
    columns: 12,
    container: 64em,
    gutter: 1/4,
    gutter-position: inside
);

//breakpoint for device
$iPhone: 320px 480px;
$retinaiPhone: 640px 960px;
$iPad: 768px 1024px;
$laptop: 1024px 1280px;

//breakpoint for viewport
$extraSmall: 480px;
$small: 768px;
$medium: 1024px;
$wide: 1200px;
$large: 1280px;
$smallDesktop: 1366px;
$largeDesktop: 1680px;

//Add Color Palette
$darkblue: #234C6F;
$darkblue2: #004877;
$blue: #2C6A8D;
$blue2: #006B9D;
$lightblue: #33A3DC;
$yellow: #D8CF90;
$orange: #F58220;
$grey: #F0F0E1;
$red: #B83936;
$lightred: #FF1919;
$dark: #000000;
$light: #FFFFFF;
$butfirst: #025F8E;
$butsecond: #0286CD;

$backgroundColor: $light;
$typeDefault: $dark;

//Font variables
$fontfamily: Helvetica, Arial, sans-serif;
$productfamily: 'Open Sans' sans-serif;

$thin: 200;
$normal: 400;
$bold: 600;
$heavy: 800;

$headFont: $thin 1.5em/1.5em $fontfamily;
$mainFont: $thin 1em/1.5em $fontfamily;


