/**
* Footer 
*/
.footer{
	.top_footer {
	    @include background-image(linear-gradient(to top, $lightblue, lighten($lightblue, 10)));

        @include breakpoint(880px $large) {
           .wrapper {
              @include container(72em);
           } // wrapper

           .info {
		      @include span(4);
		      .freedel {
		        background: url('../images/footer/f_icon.png') no-repeat 15% 50%;
		      } // freereturn

		      .customer {
		        background: url('../images/footer/f_icon1.png') no-repeat 15% 50%;
		      } // customer

		      .freereturn {
		        background: url('../images/footer/f_icon2.png') no-repeat 15% 50%;
		      } // freereturn

		      .freedel, .customer, .freereturn {
		         p {
		          margin-left: 23%;
		          padding-top: 9px;
		          font-size: 0.8em;
		          color: $light;
		          font-weight: $bold;
		        } // p
		      } // freedel customer, freereturn
		   } // info
		} // breakpoint

        @include breakpoint($extraSmall 880px) {
           .wrapper {
              @include container;
           } // wrapper

           .info {
		      @include span(6);
		      float: left;
		      .freedel {
		        background: url('../images/footer/f_icon.png') no-repeat 15% 50%;
		      } // freereturn

		      .customer {
		        background: url('../images/footer/f_icon1.png') no-repeat 15% 50%;
		      } // customer

		      .freedel, .customer {
		         p {
		          margin-left: 23%;
		          padding-top: 9px;
		          font-size: 0.65em;
		          color: $light;
		          font-weight: $bold;
		        } // p
		      } // freedel customer, freereturn
		   } // info

		   .medium {
		      display: none;
		   } // medium
		} // breakpoint

		@include breakpoint(max-width $extraSmall) {
		   .info {
		      width: 90%;
		      margin: 0 auto;

		      .freereturn {
		        background: url('../images/footer/f_icon2.png') no-repeat 15% 50%;

		        p {
		          margin-left: 23%;
		          padding-top: 9px;
		          font-size: 0.8em;
		          color: $light;
		          font-weight: $bold;
		        } // p
		      } // freereturn
		   } // info

		   .small {
		     display: none;
		   } // small
		} // breakpoint
	} //top footer

	.mid_footer {
        @include background-image(linear-gradient(to bottom, lighten($blue,15), darken($darkblue2, 5)));
        
        h3 {
           color: darken($grey, 10);
           text-transform: uppercase;
           font-size: 0.9em;
           font-weight: $bold;
           line-height: 1.2em;
        } // h3

        h4 {
           color: darken($orange, 10);
           font-size: 0.85em;
           font-weight: $bold;
           line-height: 1.5em;
        } // h4
        
        li a {
           color: $light;
           font-size: 0.7em;
           line-height: 0;
           display: inline-block;

           &:hover {
              color: $red;
              font-weight: $bold;
              @include single-transition(all, 0.2s, ease);
           } // a hover
	    } // li a
        
        .list_title {
            margin-top: 15px;
        } // list title

        .shop_title {
            margin-bottom: 5px;
        } // shop title

        .social {
            font-family: "icomoon";

            a:before{
               padding-right: 5px;
            } // before

            .facebook a:before {
               content: "\e60e";
            } // facebook

            .twitter a:before {
               content: "\e603";
            } // twitter

            .googleplus a:before {
               content: "\e605";
            } // googleplus

            .youtube a:before {
               content: "\e615";
            } // youtube

            .instagram a:before {
               content: "\e614";
            } // instagram

            .pinterest a:before {
               content: "\e606";
            } // pinterest
        } // social

	    @include breakpoint($small $large) {
	      .wrapper {
             @include container;

             .info_list {
	           @include span(3);
	           padding: 20px 5%;  
	        } // info list
	      } // wrapper
	    } // breakpoint

	    @include breakpoint($extraSmall $small) {
            .wrapper {
             @include container(38.4em);

             .info_list {
	           @include span(6);
	           padding: 20px 10%;	           
	        } // info list

	        .gap {
	            min-height: 262px;
	        } // gap

	        h3 {
	           font-size: 1.2em;
	        } // h3

	        h4 {
	           font-size: 1.05em;
	        } // h4
	        
	        li a {
	           font-size: 0.95em;
	           white-space: pre;
		    } // li a
	      } // wrapper
	    } // breakpoint

	    @include breakpoint(max-width $extraSmall) {
            .wrapper {
             @include container(24em);

             .info_list {
	           @include span(6);
	           padding: 20px 10%;	           
	        } // info list

	        .small {
	            display: none;
	        } // small

	        h3 {
	           font-size: 0.8em;
	        } // h3

	        h4 {
	           font-size: 0.75em;
	        } // h4
	        
	        li a {
	           font-size: 0.7em;
	           white-space: pre;
		    } // li a
	      } // wrapper
	    } // breakpoint
	} // mid footer

	.bottom_footer {
	    @include background-image(linear-gradient(to bottom, darken($darkblue2, 7), darken($darkblue2, 12)));
	    @include clearfix;

	    .wrapper {
	       width: 80%;
	       margin: 0 auto;
	       li {
	         font-size: 0.8em;
	         font-weight: bold;
	         color: $dark;
	         display: inline-block;
	         margin: 10px 0;
	         color: $grey;
	         text-transform: capitalize;
	       } // li

	       .copyright {
	         float: left;
	       } // copyright

	       .policy {
	         float: right;
	         li {
	           &:nth-child(2){
                  padding-left: 3px;
	           } // li second child

	           &:nth-child(3) {
	              padding-left: 2px;
	           } // li third child
	         } // li

	         .guides {
	            margin: 0 -2px 0 6px;
	         } // guides

	         .term {
	            margin: 0 0 0 6px;
	         } // term
	       } // policy
	    } // wrapper

	    @include breakpoint($extraSmall $small) {
	        .wrapper li {
	           margin: 6px 0;
	        } // li

	        font-size: 0.75em;      
	    } // breakpoint

	    @include breakpoint(max-width $extraSmall) {
	       .copyright {
	          width: 100%;
	          text-align: center;
	          font-size: 0.78em;

	          li {
	             margin: 7px 0;
	          } // copyright li      
	       } // copyright
	     
	       .policy{
	          display: none;
	       } // policy
	    } // breakpoint
	} // bottom footer
} // footer

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom:30px;
	right: 8px;
	overflow: hidden;
	width: 50px;
	height: 50px;
	border: none;
	text-indent: 100%;
	background: url(../images/footer/move-top.png) no-repeat right top;

	&:hover {
	   background: url(../images/footer/move-toph.png) no-repeat right top;
	}
} // toTop
