.slider {
    @include clearfix;
	padding-bottom: 10px;

	.wmuSlider {
	  position: relative;
	  overflow: hidden;

      .wmuSliderWrapper article {
         position: relative;

         img {
            max-width: 100%;
            width: auto;
            height: auto;
            display: block;
            margin: 0 auto;
         } //wmuSlider article img 
      } // wmuSlider article

      .wmuSliderPrev, .wmuSliderNext {
          position: absolute;
      	  width: 100px;
      	  height: 120px;
      	  text-indent: -9999px;
      	  background: url(../images/slider/img-sprite.png) no-repeat;
      	  top: 42%;
      	  z-index: 2;
      	  cursor: pointer;

          @include breakpoint(max-width 640px) {
             display: none;
          }
      } // wmuSliderPrev, wmuSliderNext

      .wmuSliderPrev {
         background-position: 0px 0px;
	       left: 5px;
	       opacity: 0.5;
      } // wmuSliderPrev

      .wmuSliderNext {
         background-position: -92px 0px;
	       right: 5px;
	       opacity: 0.5;
      } // wmuSliderNext

      a:hover {
         opacity: 1;
      }

      .wmuSliderPagination {
         z-index: 2;
         position: absolute;
         left: 48.5%;
         bottom: 10px;

         li {
           float: left;
           margin: 0 10px 0 0;
           list-style: none;
         } //wmuSliderPagination li

         a {
            display: block;
            text-indent: -9999px;
            width: 10px;
            height: 10px;
            background: $light;
            border: 1px solid lighten($dark, 30);
            @include border-radius(20px);

            &.wmuActive {
               background: lighten($dark, 30);
               width: 10px;
               height: 10px;
            } // wmuSliderPagination li a.wmuActive 
         } // wmuSliderPagination li a
         @include breakpoint(max-width 640px) {
           display: none;
         } // breakpoint
      } // wmuSliderPagination
	} // wmuSlider
} //slider

.main_content {
  .wrapper {
     @include breakpoint($small $large) {
        @include container;

        .title {
          margin: 20px 0 30px;
          h2 {
            text-align: center;
            text-transform: capitalize;
            font-weight: $bold;
            font-family: $fontfamily;
            font-size: 2em;
            color: $red;
          } // h2
        } // title 
     } // breakpoint

     @include breakpoint($extraSmall $small) {
        @include container(38.4em);

        .title {
          margin: 20px 0 30px;
          h2 {
            text-align: center;
            text-transform: capitalize;
            font-weight: $bold;
            font-family: $fontfamily;
            font-size: 1.5em;
            color: $red;
          } // h2
        } // title 
     } // breakpoint

     @include breakpoint(max-width $extraSmall) {
        width: 80%;
        margin: 0 auto;

        .title {
          margin: 10px 0 15px;
          border-bottom: 1px solid $red;
          h2 {
            text-align: center;
            text-transform: capitalize;
            font-weight: $bold;
            font-family: $fontfamily;
            font-size: 1em;
            color: $red;
            padding-bottom: 8px;
          } // h2
        } // title 
     } // breakpoint
  } // wrapper

  .product_grid {
    @include breakpoint($small $large) {
      @include container(60em);

      .product_item {
         @include span(3);
         margin-bottom: 10px;

         .product_details {
            position: relative;
            &:hover {
               border: 1px solid $lightblue;
               .hover {
                 white-space: normal;
               }

               &:before {
                   background: transparent;
                   z-index: 10;
                   content: url('../images/products/logo_s.png');
                   position: absolute;
                   top: 5px;
                   left: 5px;                   
                } // product details hover before
            } // product details hover
            a {
              opacity: 0.8;
              &:hover {
                opacity: 1;
              } // a hover

              img {
                margin-bottom: 10px;
              }

              .product_info {
                 width: 90%;
                 margin: 0 auto;
                 padding-top: 8px;
                 border-top: 1px dotted $lightblue;

                 h3 {
                    font-family: $productfamily;
                    font-size: 0.9em;
                    color: lighten($blue, 10);
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    line-height: 1.3em;
                    margin-top: 3px;
                 } // h3

                 h4 {
                    font-family: $productfamily;
                    font-size: 0.7em;
                    color: lighten($red, 10);
                    margin-top: -4px;
                 } // h4

                 p {
                    font-family: $productfamily;
                    font-size: 0.8em;
                    color: lighten($dark, 40);
                    padding-bottom: 5px;
                 } // h3
              } // product info
            } // a
         } // product details
      } //product item
    } // breakpoint

    @include breakpoint($extraSmall $small) {
      @include container(34.56em);
      .product_item {
          @include span(6);
          margin-bottom: 10px;
          float: left;
          .product_details {
              width: 226px;
              margin: 0 auto;
              position: relative;
              &:hover {
                 border: 1px solid $lightblue;
                 .hover {
                   white-space: normal;
                 }

                 &:before {
                     background: transparent;
                     z-index: 10;
                     content: url('../images/products/logo_s.png');
                     position: absolute;
                     top: 5px;
                     left: 5px;                   
                  } // product details hover before
              } // product details hover
              a {
                opacity: 0.8;
                &:hover {
                  opacity: 1;
                } // a hover

                img {
                  margin-bottom: 10px;
                }

                .product_info {
                   width: 90%;
                   margin: 0 auto;
                   padding-top: 8px;
                   border-top: 1px dotted $lightblue;

                   h3 {
                      font-family: $productfamily;
                      font-size: 0.9em;
                      color: lighten($blue, 10);
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      line-height: 1.3em;
                      margin-top: 3px;
                   } // h3

                   h4 {
                      font-family: $productfamily;
                      font-size: 0.7em;
                      color: lighten($red, 10);
                      margin-top: -4px
                   } // h4

                   p {
                      font-family: $productfamily;
                      font-size: 0.8em;
                      color: lighten($dark, 40);
                      padding-bottom: 5px;
                   } // h3
                } // product info
              } // a
          } // product details
      } //product item
    } // breakpoint

    @include breakpoint(max-width $extraSmall) {
      .product_item {
         margin-bottom: 10px;
      } // product item

      .product_details {
          width: 226px;
          margin: 0 auto;
          position: relative;
          &:hover {
             border: 1px solid $lightblue;
             .hover {
               white-space: normal;
             }

             &:before {
                 background: transparent;
                 z-index: 10;
                 content: url('../images/products/logo_s.png');
                 position: absolute;
                 top: 5px;
                 left: 5px;                   
              } // product details hover before
          } // product details hover
          a {
            opacity: 0.8;
            &:hover {
              opacity: 1;
            } // a hover

            img {
              margin-bottom: 10px;
            }

            .product_info {
               width: 90%;
               margin: 0 auto;
               padding-top: 8px;
               border-top: 1px dotted $lightblue;

               h3 {
                  font-family: $productfamily;
                  font-size: 0.9em;
                  color: lighten($blue, 10);
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  line-height: 1.3em;
                  margin-top: 3px;
               } // h3

               h4 {
                  font-family: $productfamily;
                  font-size: 0.7em;
                  color: lighten($red, 10);
                  margin-top: -4px
               } // h4

               p {
                  font-family: $productfamily;
                  font-size: 0.8em;
                  color: lighten($dark, 40);
                  padding-bottom: 5px;
               } // h3
            } // product info
          } // a
      } // product details
    } // breakpoint
  } // product grid
} // main content




















