/**
* Header and Navigation
*/

.top_header {
	@include background-image(linear-gradient(to bottom, $blue, lighten($blue, 20)));
	@include clearfix;

    .wrapper {
      @include breakpoint($iPhone) {
         width: 98%;
         margin: 0 auto;
      } // breakpoint

      width: 70%;
      margin: 0 auto;

      @include breakpoint($extraSmall 800px) {
         width: 98%;
         marign: 0 auto;
      } // breakpoint
    } // wrapper

    .top_header_left {
      @include breakpoint(max-width $small) {
          width: 20%;
      } // breakpoint

      float:left;
	    width:10%;
	    padding: 0.25em 0 0 0;

	    ul li {
	      display: inline-block;

	      a span {
	         width: 24px;
	         height: 24px;
	         display: block;
	      } //top header left ul li a span
	    } //top header left ul li

    } //top header left

	.top_header_right {

	    float: right;
	    width: 70%;
	    padding: 0.4em;

	    .free_delivery {
	       float: left;
	       width: 39%;
	       text-align: right;

	       h3 {
	          color: $grey;
	          font-weight: $bold;
	          font-size: 0.85em;
	       } // h3
	    } // free delivery

	    .order_50_or_more {
         @include breakpoint($iPhone) {
            display: none;
         } // breakpoint

	       float: right;
	       width: 60%;

	       .vticker li {
	          color: darken($red, 10);
	          font-size: 0.8em;
	          font-weight: $bold;

	          label {
	            font-size: 0.75em;
	          }
	       } // vticker li
	    } // order 50 or more

      @include breakpoint($iPhone) {
         padding-bottom: 0.25em;
         .free_delivery {
            width: 90%;
            h3 {
              font-size: 0.5em;
            }
         }
      } // breakpoint

      @include breakpoint($extraSmall $medium) {
          width: 65%;
          .free_delivery {
            width: 44%;
            h3 {
              font-size: 0.65em;
            }
          }
          .order_50_or_more {
            width: 55%;
            .vticker li {
               font-size: 0.55em;

               label {
                 font-size: 0.5em;
               } 
            }
          }
      } // breakpoint

      @include breakpoint(480px 552px) {
          .free_delivery {
            width: 90%;
            h3 {
              font-size: 0.65em;
            }
          }
          .order_50_or_more {
            display: none;
          }
      } // breakpoint
	} //top header right
    
    .cart span{
       background:url(../images/icons/image-sprit.png) no-repeat 0px 0px;
    } //cart span

    .info {
       position: relative;

       span {
          background:url(../images/icons/image-sprit.png) no-repeat -22px 0px;
       }
    } //info

    #info {
       display: none;
       width: 21%;
       @include background-image(linear-gradient(to top, $blue, lighten($blue, 20)));
       position: absolute;
       padding: 0.9em 1em 1em 1em;
       color: $light;
       font-size: 0.875em;
       font-weight: $bold;
       top: 3.1em;
       @include border-radius(10px);

       span {
         color: darken($red, 10);
         font-weight: $bold;
       } //info span

       &:before {
          content: '';
          display: block;
          border-color: transparent transparent lighten($blue, 20) transparent;
          border-style: solid;
          border-width: 10px;
          position: absolute;
          top: -16px;
          left: 16%;
          margin-left: -10px;
       } //info before

       @include breakpoint($iPhone) {
          width: 26%;
          font-size: 0.5em;
          padding: 0.3em 0.4em;
          height: 3.5em;
          top: 3.8em;

          span {
             display: none;
          }

          &:before {
             left: 50%;
             top: -16px;
          }
       } // breakpoint
    } // info
} // top header

.mid_header {
   @include clearfix;

   .wrapper {
     @include container(56em);
   } // wrapper
   
   .mid_header_left {
      @include span(5);
      .logo {
        @include breakpoint(max-width $extraSmall) {
           max-width: 6em;
        } // breakpoint
        float: left;
        max-width: 130px;
        margin: 20px 0 10px 3%;
      } //logo
   } //mid_header_left
   

   .mid_header_right {
      @include span(7 at 5 of 12);
      @include breakpoint(max-width $extraSmall) {
         float: left;
         width: 58%;
         min-width: 10em;
         padding-top: 1.4em;
      }

      float: right;
      width: 32%;
      padding-top: 1.3em;


      .search {
         position: relative;

         &:before {
            position: absolute;
            content: "\e617";
            font-family: "icomoon";
            font-size: 1.3em;
            color: lighten($blue, 20);
            display: block;
            top: 16%;
            padding-left: 0.2em;

            @include breakpoint(max-width $extraSmall) {
                font-size: 0.9em;
                padding-left: 0.3em;
            } // breakpoint
         } // search:before
      } // search

      input[type="text"] {
        @include breakpoint(max-width $extraSmall) {
            width: 93%;
            padding: 0.5em 0 0.6em 2em;
            font-size: 0.65em;
        } //breakpoint

         border: 2px solid lighten($blue, 20);
         @include border-radius(10px);
         font-family: 'Open Sans', sans-serif;
         outline: none;
         padding: 0.8em 0 0.8em 2.5em;
         color: lighten($dark, 20);
         width: 85%;
         @include single-transition(width, 0.5s, ease-out);

         &:focus {
           width: 100%;
           border: 2px solid $blue;
           @include single-transition(width, 0.5s, ease-out);
           @include box-shadow(0px 0px 10px -2px darken($blue, 10));
         } //input focus
      } // input

      @include breakpoint($extraSmall $small) {
          width: 58%;
          min-width: 10em;
          padding-top: 1.4em;

          .search {
             &:before {
                font-size: 1.2em;
                padding-left: 0.3em;
             }
          }
          input[type="text"] {
             width: 80%;
             padding: 0.5em 0 0.6em 2em;
             font-size: 0.9em;

             &:focus {
               width: 90%;
             }
          }
      } // breakpoint

       @include breakpoint(800px $medium) {
          width: 58%;
          min-width: 10em;
          padding-top: 1.4em;

          .search {
             &:before {
                font-size: 1.2em;
                padding-left: 0.3em;
             }
          }
          input[type="text"] {
             width: 80%;
             padding: 0.5em 0 0.6em 2em;
             font-size: 0.9em;

             &:focus {
               width: 90%;
             }
          }
      } // breakpoint
   } // mid header right

   @include breakpoint(1400px $largeDesktop) {
      .wrapper{
         @include container(75em);
      }
   } // breakpoint	

   @include breakpoint(800px $wide) {
      .wrapper{
         width: 70%;
         margin: 0 auto;
      }
   } // breakpoint
} // mid header





