// ==========================================================
// Utility Class
// ==========================================================

.left {
	float: left !important;
}

.right {
	float: right !important;
	padding-right: 10px; 
}

.discount {
    color: red !important;
}
