@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
/* line 14, ../../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../../../components/sass/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../../../components/sass/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* line 31, ../../../components/sass/_base.scss */
body {
  line-height: 1;
}

/* line 34, ../../../components/sass/_base.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../../../components/sass/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../../../components/sass/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../../../components/sass/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 52, ../../../components/sass/_base.scss */
body {
  font: 200 1em/1.5em Helvetica, Arial, sans-serif;
  background: #FFFFFF;
  color: #000000;
}

/* line 58, ../../../components/sass/_base.scss */
p {
  font-weight: 200;
  padding-bottom: 10px;
}

@font-face {
  font-family: "icomoon";
  src: url('/builds/development/fonts/icomoon.eot?1415682436');
  src: url('/builds/development/fonts/icomoon.eot?&1415682436#iefix') format('embedded-opentype'), url('/builds/development/fonts/icomoon.woff?1415682436') format('woff'), url('/builds/development/fonts/icomoon.ttf?1415682436') format('truetype'), url('/builds/development/fonts/icomoon.svg?1415682436') format('svg');
}
