@import url(http://fonts.googleapis.com/css?family=EB+Garamond|Pathway+Gothic+One);
/* line 14, ../../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 9, ../../../components/sass/_base.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 30, ../../../components/sass/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* line 34, ../../../components/sass/_base.scss */
body {
  line-height: 1;
}

/* line 37, ../../../components/sass/_base.scss */
ol, ul {
  list-style: none;
}

/* line 40, ../../../components/sass/_base.scss */
blockquote, q {
  quotes: none;
}

/* line 43, ../../../components/sass/_base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 48, ../../../components/sass/_base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 55, ../../../components/sass/_base.scss */
body {
  font: 200 1em/1.5em "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #FFFFFF;
  color: #000000;
}

/* line 61, ../../../components/sass/_base.scss */
p {
  font-weight: 200;
  padding-bottom: 10px;
}

@font-face {
  font-family: "icomoon";
  src: url('/builds/development/fonts/icomoon.eot?1415682436');
  src: url('/builds/development/fonts/icomoon.eot?&1415682436#iefix') format('embedded-opentype'), url('/builds/development/fonts/icomoon.woff?1415682436') format('woff'), url('/builds/development/fonts/icomoon.ttf?1415682436') format('truetype'), url('/builds/development/fonts/icomoon.svg?1415682436') format('svg');
}
@font-face {
  font-family: 'FontAwesome';
  src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 5, ../../../components/sass/components/_buttons.scss */
.reg-button {
  display: inline-block;
  width: 170px;
  font-size: 19px;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 15px 26px;
  margin: 0 20px 0 0px;
  font-weight: 400;
  -moz-transition: all 0.3s ease-in 0.1s;
  -o-transition: all 0.3s ease-in 0.1s;
  -webkit-transition: all 0.3s ease-in;
  -webkit-transition-delay: 0.1s;
  transition: all 0.3s ease-in 0.1s;
}
/* line 17, ../../../components/sass/components/_buttons.scss */
.reg-button:hover {
  background: #FFFFFF;
  color: #970700;
}

/* -------------------------------- 
Primary style
-------------------------------- */
/* line 8, ../../../components/sass/modules/header/_icons.scss */
html {
  font-size: 62.5%;
}

/* line 12, ../../../components/sass/modules/header/_icons.scss */
body {
  font-size: 1.6rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #FFFFFF;
}
@media only screen and (max-width: 1023px) {
  /* line 21, ../../../components/sass/modules/header/_icons.scss */
  body.nav-on-left.overflow-hidden {
    overflow: hidden;
  }
}

/* line 27, ../../../components/sass/modules/header/_icons.scss */
a {
  color: #33A3DC;
  text-decoration: none;
}

/* line 32, ../../../components/sass/modules/header/_icons.scss */
img {
  /* make images responsive */
  max-width: 100%;
}

/* line 37, ../../../components/sass/modules/header/_icons.scss */
input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

/* line 42, ../../../components/sass/modules/header/_icons.scss */
input[type="search"]::-ms-clear {
  /* removes close icon - IE */
  display: none;
}

/* line 47, ../../../components/sass/modules/header/_icons.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* -------------------------------- 
Main components 
-------------------------------- */
/* line 58, ../../../components/sass/modules/header/_icons.scss */
.dj-main-content, .dj-main-header {
  /* Force Hardware Acceleration in WebKit */
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  position: relative;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
@media only screen and (max-width: 1023px) {
  /* line 66, ../../../components/sass/modules/header/_icons.scss */
  .dj-main-content.nav-is-visible, .dj-main-header.nav-is-visible {
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -webkit-transform: translateX(-260px);
    transform: translateX(-260px);
  }
  /* line 70, ../../../components/sass/modules/header/_icons.scss */
  .nav-on-left .dj-main-content.nav-is-visible, .nav-on-left .dj-main-header.nav-is-visible {
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -webkit-transform: translateX(260px);
    transform: translateX(260px);
  }
}

/* line 76, ../../../components/sass/modules/header/_icons.scss */
.dj-main-content {
  background: #F0F0E1;
  min-height: 100vh;
  z-index: 2;
}

/* line 82, ../../../components/sass/modules/header/_icons.scss */
.dj-main-header {
  height: 50px;
  background: #FFFFFF;
  border-top: 5px solid #33A3DC;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 6px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 3px 6px;
  z-index: 3;
}
/* line 89, ../../../components/sass/modules/header/_icons.scss */
.nav-is-fixed .dj-main-header {
  /* add .nav-is-fixed class to body if you want a fixed navigation on > 1170px */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  /* line 82, ../../../components/sass/modules/header/_icons.scss */
  .dj-main-header {
    height: 80px;
  }
  /* line 2, ../../../components/sass/_mixins.scss */
  .dj-main-header:before, .dj-main-header:after {
    content: '';
    display: table;
  }
  /* line 7, ../../../components/sass/_mixins.scss */
  .dj-main-header:after {
    clear: both;
  }
}

/* line 103, ../../../components/sass/modules/header/_icons.scss */
.dj-logo {
  position: absolute;
  top: 9px;
  left: 5%;
  width: 60px;
}
/* line 110, ../../../components/sass/modules/header/_icons.scss */
.dj-logo img {
  display: block;
}
@media only screen and (max-width: 1023px) {
  /* line 115, ../../../components/sass/modules/header/_icons.scss */
  .nav-on-left .dj-logo {
    top: 10px;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 103, ../../../components/sass/modules/header/_icons.scss */
  .dj-logo {
    top: 13px;
    left: 4em;
    width: 120px;
    height: 51px;
  }
}

/* line 128, ../../../components/sass/modules/header/_icons.scss */
.dj-right-section {
  position: absolute;
  z-index: 3;
  top: 9px;
  right: 3%;
}
/* line 134, ../../../components/sass/modules/header/_icons.scss */
.dj-right-section li {
  display: inline-block;
  font-size: 1.6em;
  margin-right: 12px;
}
@media only screen and (min-width: 1024px) {
  /* line 128, ../../../components/sass/modules/header/_icons.scss */
  .dj-right-section {
    top: 22px;
    right: 5em;
  }
  /* line 144, ../../../components/sass/modules/header/_icons.scss */
  .dj-right-section li {
    margin-right: 26px;
    font-size: 2em;
  }
}

/* line 151, ../../../components/sass/modules/header/_icons.scss */
.user-account {
  position: relative;
}
/* line 154, ../../../components/sass/modules/header/_icons.scss */
.user-account ul {
  position: absolute;
  top: 36px;
  left: -28px;
  width: 130px;
  background: #FFFFFF;
  border-top: 3px solid #33A3DC;
  opacity: 0;
}
/* line 164, ../../../components/sass/modules/header/_icons.scss */
.user-account li {
  color: #33A3DC;
  font-size: 0.5em;
  margin-left: 10px;
  width: 92px;
  font-weight: 500;
  padding-left: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #33A3DC;
}
/* line 174, ../../../components/sass/modules/header/_icons.scss */
.user-account li a:hover {
  text-decoration: underline;
}
/* line 179, ../../../components/sass/modules/header/_icons.scss */
.user-account li:first-child {
  color: #B83936;
}
/* line 183, ../../../components/sass/modules/header/_icons.scss */
.user-account li:last-child {
  padding-bottom: 8px;
  border-bottom: none;
}
@media only screen and (min-width: 1024px) {
  /* line 189, ../../../components/sass/modules/header/_icons.scss */
  .user-account ul {
    top: 53px;
    left: -40px;
    width: 150px;
  }
  /* line 195, ../../../components/sass/modules/header/_icons.scss */
  .user-account li {
    margin-left: 20px;
    width: 110px;
  }
}

/* line 203, ../../../components/sass/modules/header/_icons.scss */
.fa-user {
  position: relative;
}
/* line 206, ../../../components/sass/modules/header/_icons.scss */
.fa-user span {
  position: absolute;
  font-size: 0.5em;
  top: 7px;
  left: 23px;
}
/* line 213, ../../../components/sass/modules/header/_icons.scss */
.fa-user .fa-close {
  opacity: 0;
}
@media only screen and (min-width: 1024px) {
  /* line 218, ../../../components/sass/modules/header/_icons.scss */
  .fa-user span {
    top: 10px;
    left: 32px;
  }
}

/* line 225, ../../../components/sass/modules/header/_icons.scss */
.fa-shopping-cart {
  position: relative;
}
/* line 229, ../../../components/sass/modules/header/_icons.scss */
.fa-shopping-cart:hover span {
  opacity: 1;
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}
/* line 235, ../../../components/sass/modules/header/_icons.scss */
.fa-shopping-cart span {
  position: absolute;
  font-weight: 800;
  font-size: 13px;
  top: 4px;
  right: -20px;
  width: 14px;
  height: 20px;
  padding-left: 3px;
  padding-top: 3px;
  background-color: #000000;
  color: #FFFFFF;
  opacity: 0;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -webkit-transform: translateX(-10px);
  transform: translateX(-10px);
}
/* line 251, ../../../components/sass/modules/header/_icons.scss */
.fa-shopping-cart span::before {
  position: absolute;
  top: 6px;
  left: -5px;
  height: 0;
  width: 0;
  border-top: 4px solid transparent;
  border-right: 8px solid #000000;
  border-bottom: 4px solid transparent;
  content: "";
  display: block;
}
@media only screen and (min-width: 1024px) {
  /* line 235, ../../../components/sass/modules/header/_icons.scss */
  .fa-shopping-cart span {
    top: 0;
    left: 23px;
    font-size: 11px;
    width: 14px;
    height: 15px;
    background-color: #970700;
    color: #FFFFFF;
    padding-left: 3px;
    padding-top: 1.5px;
    opacity: 1;
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  /* line 279, ../../../components/sass/modules/header/_icons.scss */
  .fa-shopping-cart span::before {
    display: none;
  }
}

/* line 286, ../../../components/sass/modules/header/_icons.scss */
.dj-header-buttons {
  position: absolute;
  display: inline-block;
  top: 1px;
  right: 5%;
}
/* line 292, ../../../components/sass/modules/header/_icons.scss */
.dj-header-buttons li {
  display: inline-block;
}
/* line 295, ../../../components/sass/modules/header/_icons.scss */
.dj-header-buttons li:last-child {
  border-right: 2px solid #33A3DC;
}
@media only screen and (max-width: 1023px) {
  /* line 301, ../../../components/sass/modules/header/_icons.scss */
  .nav-on-left .dj-header-buttons {
    right: auto;
    left: 1%;
  }
  /* line 305, ../../../components/sass/modules/header/_icons.scss */
  .nav-on-left .dj-header-buttons li {
    float: right;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 286, ../../../components/sass/modules/header/_icons.scss */
  .dj-header-buttons {
    top: 14px;
    right: 13.5em;
  }
}

/* line 317, ../../../components/sass/modules/header/_icons.scss */
.dj-search-trigger, .dj-nav-trigger {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  overflow: hidden;
  white-space: nowrap;
  /* hide text */
  color: transparent;
  z-index: 3;
}

/* line 331, ../../../components/sass/modules/header/_icons.scss */
.dj-search-trigger::before, .dj-search-trigger::after {
  /* search icon */
  content: '';
  position: absolute;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  /* Force Hardware Acceleration in WebKit */
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 342, ../../../components/sass/modules/header/_icons.scss */
.dj-search-trigger::before {
  /* lens */
  top: 11px;
  left: 11px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 3px solid #33A3DC;
}
/* line 352, ../../../components/sass/modules/header/_icons.scss */
.dj-search-trigger::after {
  /* handle */
  height: 3px;
  width: 11px;
  background: #33A3DC;
  bottom: 14px;
  right: 11px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 362, ../../../components/sass/modules/header/_icons.scss */
.dj-search-trigger span {
  /* container for the X icon */
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
/* line 371, ../../../components/sass/modules/header/_icons.scss */
.dj-search-trigger span::before, .dj-search-trigger span::after {
  /* close icon */
  content: '';
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 22px;
  top: 50%;
  margin-top: -2px;
  left: 50%;
  margin-left: -11px;
  background: #33A3DC;
  opacity: 0;
  /* Force Hardware Acceleration in WebKit */
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  -o-transition: opacity 0.3s, -o-transform 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}
/* line 391, ../../../components/sass/modules/header/_icons.scss */
.dj-search-trigger span::before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 395, ../../../components/sass/modules/header/_icons.scss */
.dj-search-trigger span::after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 400, ../../../components/sass/modules/header/_icons.scss */
.dj-search-trigger.search-is-visible::before, .dj-search-trigger.search-is-visible::after {
  /* hide search icon */
  opacity: 0;
}
/* line 405, ../../../components/sass/modules/header/_icons.scss */
.dj-search-trigger.search-is-visible span::before, .dj-search-trigger.search-is-visible span::after {
  /* show close icon */
  opacity: 1;
}
/* line 410, ../../../components/sass/modules/header/_icons.scss */
.dj-search-trigger.search-is-visible span::before {
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 414, ../../../components/sass/modules/header/_icons.scss */
.dj-search-trigger.search-is-visible span::after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
@media only screen and (min-width: 1024px) {
  /* line 420, ../../../components/sass/modules/header/_icons.scss */
  .dj-search-trigger::before {
    width: 22px;
    height: 22px;
  }
  /* line 425, ../../../components/sass/modules/header/_icons.scss */
  .dj-search-trigger::after {
    bottom: 9px;
    right: 5px;
  }
  /* line 430, ../../../components/sass/modules/header/_icons.scss */
  .dj-search-trigger span::before, .dj-search-trigger span::after {
    height: 5px;
    width: 28px;
    top: 55%;
  }
}

/* line 441, ../../../components/sass/modules/header/_icons.scss */
.dj-nav-trigger span, .dj-nav-trigger span::before, .dj-nav-trigger span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 22px;
  background: #33A3DC;
}
/* line 450, ../../../components/sass/modules/header/_icons.scss */
.dj-nav-trigger span {
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -2px;
  -moz-transition: background 0.3s 0.3s;
  -o-transition: background 0.3s 0.3s;
  -webkit-transition: background 0.3s;
  -webkit-transition-delay: 0.3s;
  transition: background 0.3s 0.3s;
}
/* line 459, ../../../components/sass/modules/header/_icons.scss */
.dj-nav-trigger span::before, .dj-nav-trigger span::after {
  /* other 2 lines */
  content: '';
  right: 0;
  /* Force Hardware Acceleration in WebKit */
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform-origin: 0% 50% 50%;
  -ms-transform-origin: 0% 50% 50%;
  -webkit-transform-origin: 0% 50% 50%;
  transform-origin: 0% 50% 50%;
  -moz-transition: -moz-transform 0.3s 0.3s;
  -o-transition: -o-transform 0.3s 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  -webkit-transition-delay: 0.3s;
  transition: transform 0.3s 0.3s;
}
/* line 471, ../../../components/sass/modules/header/_icons.scss */
.dj-nav-trigger span::before {
  /* menu icon top line */
  top: -7px;
}
/* line 476, ../../../components/sass/modules/header/_icons.scss */
.dj-nav-trigger span::after {
  /* menu icon bottom line */
  top: 7px;
}
/* line 482, ../../../components/sass/modules/header/_icons.scss */
.dj-nav-trigger.nav-is-visible span {
  /* hide line in the center */
  background: rgba(51, 163, 220, 0);
}
/* line 487, ../../../components/sass/modules/header/_icons.scss */
.dj-nav-trigger.nav-is-visible span::before, .dj-nav-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: #33a3dc;
}
/* line 492, ../../../components/sass/modules/header/_icons.scss */
.dj-nav-trigger.nav-is-visible span::before {
  -moz-transform: translateX(4px) translateY(7px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(7px) rotate(45deg);
  -webkit-transform: translateX(4px) translateY(7px) rotate(45deg);
  transform: translateX(4px) translateY(7px) rotate(45deg);
}
/* line 496, ../../../components/sass/modules/header/_icons.scss */
.dj-nav-trigger.nav-is-visible span::after {
  -moz-transform: translateX(4px) translateY(-7px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(-7px) rotate(-45deg);
  -webkit-transform: translateX(4px) translateY(-7px) rotate(-45deg);
  transform: translateX(4px) translateY(-7px) rotate(-45deg);
}
@media only screen and (min-width: 1024px) {
  /* line 439, ../../../components/sass/modules/header/_icons.scss */
  .dj-nav-trigger {
    display: none;
  }
}

/* line 5, ../../../components/sass/modules/header/_nav.scss */
.dj-primary-nav, .dj-primary-nav ul {
  position: fixed;
  top: 0;
  right: 0px;
  height: 100%;
  width: 260px;
  background: #FFFFFF;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  /* Force Hardware Acceleration in WebKit */
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
/* line 20, ../../../components/sass/modules/header/_nav.scss */
.dj-primary-nav a, .dj-primary-nav ul a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: #33A3DC;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid #49ade0;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform, opacity;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -o-transition: -o-transform 0.3s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}
/* line 38, ../../../components/sass/modules/header/_nav.scss */
.dj-primary-nav.is-hidden, .dj-primary-nav ul.is-hidden {
  /* secondary navigations hidden by default */
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
/* line 43, ../../../components/sass/modules/header/_nav.scss */
.dj-primary-nav.moves-out > li > a, .dj-primary-nav ul.moves-out > li > a {
  /* push the navigation items to the left - and lower down opacity - when secondary nav slides in */
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}

@media only screen and (max-width: 1023px) {
  /* line 51, ../../../components/sass/modules/header/_nav.scss */
  .nav-on-left .dj-primary-nav, .nav-on-left .dj-primary-nav ul {
    right: auto;
    left: 0;
  }
}
/* line 59, ../../../components/sass/modules/header/_nav.scss */
.dj-primary-nav .see-all a {
  /* different style for the See all button on mobile and tablet */
  color: #B83936;
}
@media only screen and (max-width: 1023px) {
  /* line 57, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav {
    /* by default .dj-primary-nav is hidden - trick for iOS devices where you can see the navigation if you pull down */
    visibility: hidden;
    -moz-transition: visibility 0s 0.3s;
    -o-transition: visibility 0s 0.3s;
    -webkit-transition: visibility 0s;
    -webkit-transition-delay: 0.3s;
    transition: visibility 0s 0.3s;
  }
  /* line 69, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav.nav-is-visible {
    visibility: visible;
    -moz-transition: visibility 0s 0s;
    -o-transition: visibility 0s 0s;
    -webkit-transition: visibility 0s;
    -webkit-transition-delay: 0s;
    transition: visibility 0s 0s;
  }
}

@media only screen and (min-width: 1024px) {
  /* line 78, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav {
    position: static;
    padding: 0 0 0 160px;
    height: auto;
    width: auto;
    overflow: visible;
    background: transparent;
  }
  /* line 2, ../../../components/sass/_mixins.scss */
  .dj-primary-nav:before, .dj-primary-nav:after {
    content: '';
    display: table;
  }
  /* line 7, ../../../components/sass/_mixins.scss */
  .dj-primary-nav:after {
    clear: both;
  }
  /* line 88, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav.moves-out > li > a {
    /* reset mobile style */
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  /* line 94, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav ul {
    position: static;
    height: auto;
    width: auto;
    background: transparent;
    overflow: visible;
    z-index: 3;
  }
  /* line 102, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav ul.is-hidden {
    /* reset mobile style */
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  /* line 107, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav ul.moves-out > li > a {
    /* reset mobile style */
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  /* line 114, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav > li {
    float: left;
    margin-left: 3em;
  }
  /* line 119, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav > li > a {
    /* main navigation buttons style */
    position: relative;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    padding: 0 10px;
    color: #33A3DC;
    overflow: visible;
    border-bottom: none;
    margin-top: -2px;
    font-weight: 800;
    -moz-transition: color 0.3s, box-shadow 0.3s;
    -o-transition: color 0.3s, box-shadow 0.3s;
    -webkit-transition: color 0.3s, box-shadow 0.3s;
    transition: color 0.3s, box-shadow 0.3s;
  }
  /* line 133, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav > li > a:hover {
    text-decoration: underline;
  }
  /* line 137, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav > li > a.selected {
    color: #33A3DC;
    box-shadow: inset 0 -4px 0 #33A3DC;
    z-index: 10;
  }
  /* line 144, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .go-back, .dj-primary-nav .see-all {
    display: none;
  }
  /* line 148, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .dj-secondary-nav {
    /* dropdown menu style */
    position: absolute;
    top: 75px;
    width: 100vw;
    background: #FFFFFF;
    padding: 48px 64px 130px;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.05);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  }
  /* line 2, ../../../components/sass/_mixins.scss */
  .dj-primary-nav .dj-secondary-nav:before, .dj-primary-nav .dj-secondary-nav:after {
    content: '';
    display: table;
  }
  /* line 7, ../../../components/sass/_mixins.scss */
  .dj-primary-nav .dj-secondary-nav:after {
    clear: both;
  }
  /* line 162, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .dj-secondary-nav.is-hidden {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }
  /* line 170, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .dj-secondary-nav > .see-all {
    /* this is the BIG See all button at the bottom of the dropdown menu */
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    overflow: hidden;
    /* reset some inherited style */
    margin: 0;
    padding: 0;
  }
  /* line 183, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .dj-secondary-nav > .see-all a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    /* reset some inherited style */
    border-bottom: none;
    margin: 0;
    padding: 0;
    color: #33A3DC;
    -moz-transition: color 0.2s, background 0.2s, border 0.2s;
    -o-transition: color 0.2s, background 0.2s, border 0.2s;
    -webkit-transition: color 0.2s, background 0.2s, border 0.2s;
    transition: color 0.2s, background 0.2s, border 0.2s;
  }
  /* line 201, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .dj-secondary-nav > .see-all a:hover {
    background: #33A3DC;
    border-color: #33A3DC;
    color: #FFFFFF;
    text-decoration: none;
  }
  /* line 213, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .dj-secondary-nav > li {
    /* change the height according to your needs - you can even set height: auto */
    height: 340px;
    /* here you set the number of columns - use width percentage */
    width: 23%;
    float: left;
    margin-right: 2.66%;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  /* line 225, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .dj-secondary-nav > li:nth-child(4n+2) {
    /* +2 because we have 2 list items with display:none */
    margin-right: 0;
    border-right: none;
  }
  /* line 231, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .dj-secondary-nav > li > span {
    /* secondary nav title */
    color: #B83936;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: .6em;
  }
  /* line 240, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .dj-secondary-nav a {
    height: 30px;
    line-height: 30px;
    padding: 0 18% 0 0;
    color: rgba(0, 0, 0, 0.45);
    border-bottom: none;
    font-size: 1.4rem;
  }
  /* line 248, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .dj-secondary-nav a:hover {
    color: #33A3DC;
    text-decoration: underline;
  }
  /* line 255, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .dj-secondary-nav ul {
    /* Force Hardware Acceleration in WebKit */
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  /* line 260, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .dj-secondary-nav ul ul {
    /* tertiary navigation */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  /* line 268, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .dj-secondary-nav ul ul.is-hidden {
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  /* line 272, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .dj-secondary-nav ul ul .go-back {
    display: block;
  }
  /* line 275, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .dj-secondary-nav ul ul .go-back a {
    color: transparent;
  }
  /* line 280, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .dj-secondary-nav ul ul .see-all {
    display: block;
  }
  /* line 285, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .dj-secondary-nav .moves-out > li > a {
    /* push the navigation items to the left - and lower down opacity - when tertiary nav slides in */
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
/* line 294, ../../../components/sass/modules/header/_nav.scss */
.has-children > a, .go-back a {
  position: relative;
}
/* line 297, ../../../components/sass/modules/header/_nav.scss */
.has-children > a::before, .has-children > a::after, .go-back a::before, .go-back a::after {
  /* arrow icon in CSS - for element with nested unordered lists */
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #5fb7e3;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 311, ../../../components/sass/modules/header/_nav.scss */
.has-children > a::before, .go-back a::before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 315, ../../../components/sass/modules/header/_nav.scss */
.has-children > a::after, .go-back a::after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 330, ../../../components/sass/modules/header/_nav.scss */
.has-children > a {
  padding-right: 40px;
  font-weight: 500;
}
/* line 334, ../../../components/sass/modules/header/_nav.scss */
.has-children > a::before, .has-children > a::after {
  /* arrow goes on the right side - children navigation */
  right: 20px;
  -moz-transform-origin: 9px 50%;
  -ms-transform-origin: 9px 50%;
  -webkit-transform-origin: 9px 50%;
  transform-origin: 9px 50%;
}

/* line 341, ../../../components/sass/modules/header/_nav.scss */
.dj-primary-nav .go-back a {
  padding-left: 40px;
  background-color: rgba(51, 163, 220, 0.66);
  color: #FFFFFF;
}
/* line 346, ../../../components/sass/modules/header/_nav.scss */
.dj-primary-nav .go-back a::before, .dj-primary-nav .go-back a::after {
  /* arrow goes on the left side - go back button */
  left: 20px;
  background: #FFFFFF;
  -moz-transform-origin: 1px 50%;
  -ms-transform-origin: 1px 50%;
  -webkit-transform-origin: 1px 50%;
  transform-origin: 1px 50%;
}

@media only screen and (min-width: 1024px) {
  /* line 357, ../../../components/sass/modules/header/_nav.scss */
  .has-children > a::before, .has-children > a::after {
    right: 15%;
  }

  /* line 362, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav > .has-children > a {
    /* main navigation arrows on larger devices */
    padding-right: 30px !important;
  }
  /* line 366, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav > .has-children > a::before, .dj-primary-nav > .has-children > a::after {
    width: 9px;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: #33A3DC;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: width 0.3s, -moz-transform 0.3s;
    -o-transition: width 0.3s, -o-transform 0.3s;
    -webkit-transition: width 0.3s, -webkit-transform 0.3s;
    transition: width 0.3s, transform 0.3s;
  }
  /* line 375, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav > .has-children > a::before {
    right: 12px;
  }
  /* line 379, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav > .has-children > a::after {
    right: 7px;
  }
  /* line 383, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav > .has-children > a.selected::before, .dj-primary-nav > .has-children > a.selected::after {
    width: 14px;
  }
  /* line 387, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav > .has-children > a.selected::before {
    -moz-transform: translateX(5px) rotate(-45deg);
    -ms-transform: translateX(5px) rotate(-45deg);
    -webkit-transform: translateX(5px) rotate(-45deg);
    transform: translateX(5px) rotate(-45deg);
  }
  /* line 391, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav > .has-children > a.selected::after {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* line 396, ../../../components/sass/modules/header/_nav.scss */
  .dj-secondary-nav > .has-children > a::before, .dj-secondary-nav > .has-children > a::after {
    /* remove arrows on secondary nav titles */
    display: none;
  }

  /* line 401, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .go-back a {
    padding-left: 20px;
  }
  /* line 404, ../../../components/sass/modules/header/_nav.scss */
  .dj-primary-nav .go-back a::before, .dj-primary-nav .go-back a::after {
    left: 1px;
  }
}
/* line 6, ../../../components/sass/modules/header/_search.scss */
.dj-search {
  position: absolute;
  height: 50px;
  width: 100%;
  top: 50px;
  left: 0;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
/* line 19, ../../../components/sass/modules/header/_search.scss */
.dj-search form {
  height: 100%;
  width: 100%;
}
/* line 25, ../../../components/sass/modules/header/_search.scss */
.dj-search .search-form::before {
  position: absolute;
  content: "\f002";
  font-family: "FontAwesome";
  font-size: 1.2em;
  color: #33A3DC;
  display: block;
  top: 26%;
  padding-left: 4%;
}
/* line 37, ../../../components/sass/modules/header/_search.scss */
.dj-search input {
  border-radius: 0;
  border: none;
  background: #FFFFFF;
  height: 100%;
  width: 100%;
  padding: 0 10%;
  box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
  -moz-appearance: none;
  -webkit-appearance: none;
}
/* line 61, ../../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/css3/_user-interface.scss */
.dj-search input:-moz-placeholder {
  color: #c9cbc4;
}
/* line 64, ../../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/css3/_user-interface.scss */
.dj-search input::-moz-placeholder {
  color: #c9cbc4;
}
/* line 67, ../../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/css3/_user-interface.scss */
.dj-search input:-ms-input-placeholder {
  color: #c9cbc4;
}
/* line 56, ../../../../../../.rbenv/versions/2.0.0-p353/lib/ruby/gems/2.0.0/gems/compass-core-1.1.0.alpha.3/stylesheets/compass/css3/_user-interface.scss */
.dj-search input::-webkit-input-placeholder {
  color: #c9cbc4;
}
/* line 51, ../../../components/sass/modules/header/_search.scss */
.dj-search input:focus {
  outline: none;
}
/* line 56, ../../../components/sass/modules/header/_search.scss */
.dj-search.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
/* line 64, ../../../components/sass/modules/header/_search.scss */
.nav-is-fixed .dj-search {
  position: fixed;
}
@media only screen and (min-width: 1024px) {
  /* line 6, ../../../components/sass/modules/header/_search.scss */
  .dj-search {
    height: 120px;
    top: 80px;
  }
  /* line 73, ../../../components/sass/modules/header/_search.scss */
  .dj-search .search-form::before {
    font-size: 3.2em;
    top: 39%;
    padding-left: 1.2em;
  }
  /* line 80, ../../../components/sass/modules/header/_search.scss */
  .dj-search input {
    padding: 0 4em;
    font-size: 3.2rem;
    font-weight: 300;
  }
}

/* line 88, ../../../components/sass/modules/header/_search.scss */
.dj-overlay {
  /* shadow layer visible when navigation is active */
  position: fixed;
  z-index: 2;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  background-color: rgba(51, 163, 220, 0.5);
  visibility: hidden;
  opacity: 0;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s, -moz-transform 0.3s 0s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0.3s, -o-transform 0.3s 0s;
  -webkit-transition: opacity 0.3s, visibility 0s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0s, 0.3s, 0s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
}
/* line 103, ../../../components/sass/modules/header/_search.scss */
.dj-overlay.is-visible {
  opacity: 1;
  visibility: visible;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s, -moz-transform 0.3s 0s;
  -o-transition: opacity 0.3s 0s, visibility 0s 0s, -o-transform 0.3s 0s;
  -webkit-transition: opacity 0.3s, visibility 0s, -webkit-transform 0.3s;
  -webkit-transition-delay: 0s, 0s, 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s, transform 0.3s 0s;
}
@media only screen and (max-width: 1023px) {
  /* line 110, ../../../components/sass/modules/header/_search.scss */
  .dj-overlay.is-visible {
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -webkit-transform: translateX(-260px);
    transform: translateX(-260px);
  }
  /* line 113, ../../../components/sass/modules/header/_search.scss */
  .nav-on-left .dj-overlay.is-visible {
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -webkit-transform: translateX(260px);
    transform: translateX(260px);
  }
  /* line 116, ../../../components/sass/modules/header/_search.scss */
  .dj-overlay.is-visible.search-is-visible, .nav-on-left .dj-overlay.is-visible.search-is-visible {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* line 5, ../../../components/sass/modules/home/_carousel.scss */
.dj-slides {
  width: 100%;
  height: 100%;
  margin: 50px auto 40px;
}
/* line 10, ../../../components/sass/modules/home/_carousel.scss */
.dj-slides .dj-slide {
  width: 100%;
  height: 600px;
  position: relative;
}
/* line 16, ../../../components/sass/modules/home/_carousel.scss */
.dj-slides .dj-summer-sale {
  text-align: center;
  position: absolute;
  top: 28%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* line 21, ../../../components/sass/modules/home/_carousel.scss */
.dj-slides .dj-summer-sale p, .dj-slides .dj-summer-sale a, .dj-slides .dj-summer-sale div {
  text-transform: uppercase;
  font-family: "Pathway Gothic One", sans-serif;
}
/* line 26, ../../../components/sass/modules/home/_carousel.scss */
.dj-slides .dj-summer-sale .dj-promo {
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 5px;
}
/* line 31, ../../../components/sass/modules/home/_carousel.scss */
.dj-slides .dj-summer-sale .dj-promo span {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 5px;
}
/* line 38, ../../../components/sass/modules/home/_carousel.scss */
.dj-slides .dj-summer-sale .dj-promo-tablet {
  display: none;
}
/* line 42, ../../../components/sass/modules/home/_carousel.scss */
.dj-slides .dj-summer-sale .deal-lg {
  font-size: 70px;
  font-weight: 800;
  margin: 35px 0;
  letter-spacing: 5px;
}
/* line 49, ../../../components/sass/modules/home/_carousel.scss */
.dj-slides .dj-summer-sale .deal-sm {
  display: none;
}
/* line 53, ../../../components/sass/modules/home/_carousel.scss */
.dj-slides .dj-summer-sale .online {
  font-size: 25px;
  letter-spacing: 3px;
}
/* line 58, ../../../components/sass/modules/home/_carousel.scss */
.dj-slides .dj-summer-sale .promo-buttons {
  margin: 15px 0;
}
/* line 62, ../../../components/sass/modules/home/_carousel.scss */
.dj-slides .dj-summer-sale .promo-code {
  font-family: "EBGaramond", serif;
  font-size: 11px;
  font-style: italic;
  text-transform: none;
  letter-spacing: 1.5px;
  margin-top: 20px;
}
/* line 70, ../../../components/sass/modules/home/_carousel.scss */
.dj-slides .dj-summer-sale .promo-code span {
  text-decoration: underline;
}

@media (max-width: 1023px) {
  /* line 80, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slide .dj-summer-sale {
    top: 15%;
  }
  /* line 83, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slide .dj-summer-sale .dj-promo {
    display: none;
  }
  /* line 87, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slide .dj-summer-sale .dj-promo-tablet {
    display: block;
    letter-spacing: 5px;
  }
  /* line 91, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slide .dj-summer-sale .dj-promo-tablet p {
    padding-bottom: 12px;
    font-size: 40px;
    font-weight: 800;
  }
  /* line 96, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slide .dj-summer-sale .dj-promo-tablet p:first-child {
    font-size: 30px;
  }
  /* line 103, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slide .dj-summer-sale .deal-lg {
    display: none;
  }
  /* line 107, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slide .dj-summer-sale .deal-sm {
    display: block;
  }
  /* line 110, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slide .dj-summer-sale .deal-sm .summer-discount {
    font-size: 200px;
    position: relative;
    font-weight: 800;
    line-height: 180px;
    letter-spacing: -2px;
  }
  /* line 117, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slide .dj-summer-sale .deal-sm .summer-discount span {
    position: absolute;
  }
  /* line 120, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slide .dj-summer-sale .deal-sm .summer-discount span.percentbox {
    font-size: 38px;
    top: -30%;
  }
  /* line 125, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slide .dj-summer-sale .deal-sm .summer-discount span.percentoff {
    font-size: 25px;
    top: -14%;
    letter-spacing: 1px;
  }
  /* line 133, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slide .dj-summer-sale .deal-sm .clearance {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 38px;
    font-weight: 800;
  }
  /* line 141, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slide .dj-summer-sale .online {
    font-size: 16px;
    letter-spacing: 0.5px;
  }
  /* line 146, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slide .dj-summer-sale .promo-buttons {
    margin: 15px 0 0 40px;
  }
  /* line 150, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slide .dj-summer-sale .promo-code {
    font-size: 10.5px;
    letter-spacing: 0.5px;
    margin-left: 15px;
  }

  /* line 158, ../../../components/sass/modules/home/_carousel.scss */
  .reg-button {
    width: 125px;
    font-size: initial;
    padding: 12px 23px;
  }
}
@media (max-width: 320px) {
  /* line 167, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slides .dj-slide {
    height: 420px;
  }
  /* line 171, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slides .dj-slide .dj-summer-sale {
    top: 10%;
  }
  /* line 176, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slides .dj-slide .dj-summer-sale .dj-promo-tablet p {
    padding-bottom: 1px;
    font-size: 26px;
  }
  /* line 180, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slides .dj-slide .dj-summer-sale .dj-promo-tablet p:first-child {
    font-size: 20px;
  }
  /* line 189, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slides .dj-slide .dj-summer-sale .deal-sm .summer-discount {
    font-size: 130px;
    line-height: 120px;
  }
  /* line 194, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slides .dj-slide .dj-summer-sale .deal-sm .summer-discount span.percentbox {
    font-size: 25px;
  }
  /* line 198, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slides .dj-slide .dj-summer-sale .deal-sm .summer-discount span.percentoff {
    font-size: 18px;
  }
  /* line 203, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slides .dj-slide .dj-summer-sale .deal-sm .clearance {
    font-size: 27px;
    letter-spacing: 3px;
    margin-top: 8px;
    margin-bottom: 0;
  }
  /* line 211, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slides .dj-slide .dj-summer-sale .online {
    letter-spacing: 1.5px;
  }
  /* line 215, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slides .dj-slide .dj-summer-sale .promo-buttons {
    margin-left: 0;
    margin-top: 0;
  }
  /* line 220, ../../../components/sass/modules/home/_carousel.scss */
  .dj-slides .dj-slide .dj-summer-sale .promo-code {
    font-size: 8.5px;
    margin-top: 5px;
    margin-left: 0;
  }

  /* line 229, ../../../components/sass/modules/home/_carousel.scss */
  .reg-button {
    width: 110px;
    margin: 0 5px 0 0px;
    padding: 6px 15px;
  }
}
/* line 236, ../../../components/sass/modules/home/_carousel.scss */
.s-red {
  background: #970700;
}

/* line 240, ../../../components/sass/modules/home/_carousel.scss */
.s-white {
  background: #e2e3df;
}

/* line 244, ../../../components/sass/modules/home/_carousel.scss */
.s-blue {
  background: #33A3DC;
}

/* line 249, ../../../components/sass/modules/home/_carousel.scss */
.slick-dots {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 0;
}
@media (max-width: 1023px) {
  /* line 249, ../../../components/sass/modules/home/_carousel.scss */
  .slick-dots {
    bottom: -145px;
    left: 10px;
  }
}
@media (max-width: 320px) {
  /* line 249, ../../../components/sass/modules/home/_carousel.scss */
  .slick-dots {
    bottom: 5px;
  }
}
/* line 265, ../../../components/sass/modules/home/_carousel.scss */
.slick-dots li button:before {
  font-size: 16px;
  color: #FFFFFF;
}
/* line 271, ../../../components/sass/modules/home/_carousel.scss */
.slick-dots li.slick-active button:before {
  color: #FFFFFF;
}

/* line 278, ../../../components/sass/modules/home/_carousel.scss */
.slick-prev {
  left: 25px;
}

/* line 282, ../../../components/sass/modules/home/_carousel.scss */
.slick-next {
  right: 25px;
}

@media (max-width: 1023px) {
  /* line 287, ../../../components/sass/modules/home/_carousel.scss */
  .slick-prev, .slick-next {
    top: 270px;
  }
}
@media (max-width: 320px) {
  /* line 293, ../../../components/sass/modules/home/_carousel.scss */
  .slick-prev, .slick-next {
    display: none !important;
  }
}
/* line 299, ../../../components/sass/modules/home/_carousel.scss */
.slick-prev:before, .slick-next:before {
  font-size: 20px;
}
